    .story-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .5rem;
        
    }

    @include tablet {
        
        .story-container {
            grid-template-columns: 1fr 1fr 1fr;

           }
    }

    @include desktop {
        
        .story-container {
            grid-template-columns: repeat(4, 1fr);

        }
    }