
html * {
    box-sizing: border-box;

   
}

.header {


    h1 {
        @include screenReader;
     }

    label {
        @include screenReader;
    }

    @include centerFlex();
    @include dirWrapFlex(flex, column, none);

    p {
        padding: 1rem;
        
    }

    .gif-style {
        margin: 0 auto;
        width: 15%;

        @include tablet {
            width: 5%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include desktop {

        }
    }

    .appear-on-load {
        display: none;
    }

    select {
        background-color: $main-text-color;
    }
    
    &.header-base-state {
        height: 90vh;
        transition: 1s;
    }

    .logo-base-state {
        width: 220px;
        transition: 1s;
    }

    .animateLogo {
        width: 110px;
    }

    &.animateHeader {
        height: 400px;
    }

    @include tablet {
        @include dirWrapFlex(flex, row);
        .animateLogo {
            width: 80px;
        }

        &.animateHeader {
            height: 160px;
        }
    }
    @include desktop {
        width: 50%;
        @include centerFlex(flex, space-around);

        .animateLogo {
            width: 80px;
        }

        &.animateHeader {
            height: 160px;
        }

        
    }
}


.search-box {
    @include dirWrapFlex(flex, column);
    padding: 1rem;

}

.story-container {
    .nytimes-story {
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        @include centerFlex(flex, center, flex-end);
        width: 100%;
        height: 25rem;
        transition: .5s;

        &:hover, &:focus {
            box-shadow: 0 0 20px 5px lighten($footer-color, 20%);
            transform: translate3d(0, -10px, 20px);
            z-index: 99;
            .text-box{
                bottom: 0;
            }
            .nytText{
                transition-delay: .5s;
            }
        }

        &:active{

            .text-box {
                transition: .1s;
                background-color: darken(rgba($footer-color, 0.75) , 75%);

            }
        }
        
    }
    .text-box {
        @include dirWrapFlex(flex, column);
        @include centerFlex(flex, space-between);
        position: absolute;
        bottom: -70%;
        height:100%;
        padding: 2rem 1rem;
        background-color: darken(rgba($footer-color, 0.75) , 50%);
        transition: .5s ease-in-out;
        text-decoration: none;
    
        & .nytTitle {
            font-size: $font-size * 1.125;
            transition-delay: .5s;
            text-decoration: underline;
            font-weight: bold;
        }
    
        & .nytDate {
            font-size: $font-size * .875;
            font-style: italic ;
        }
    
        & .nytAbstract {
            font-size: $font-size *1.0675;
            transition-delay: 1s;
        }
        
    }
    

}

.footer {
    @include centerFlex();
    // padding: 2rem 0;
    height: 10vh;
    @include desktop {
            width: 25%;
        }
}