@mixin screenReader {
  clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
}

@mixin dirWrapFlex($display:flex,$direction:row, $wrap:wrap) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin centerFlex($display:flex, $justify:center, $align:center) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}


@mixin media($width) {
    @media only screen and (min-width: $width) {
      @content;
    }
  }
