//hides element but keeps them accessibile for screenreader
@mixin screenReader {
  clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        background-color: $light-color-branding;
        color: $dark-color-branding;
}

//shortens code for flexbox
@mixin dirWrapFlex($direction:row, $wrap:wrap, $display:flex) {
  flex-direction: $direction;
  flex-wrap: $wrap;
  display: $display;
}

@mixin centerFlex($justify:center, $align:center, $display:flex) {
  justify-content: $justify;
  align-items: $align;
  display: $display;
}

//function to scalabily change media queries
@mixin media($width) {
    @media only screen and (min-width: $width) {
      @content;
    }
  }
