// TYPOGRAPHY
$font-size: 16px;
$font-family:'Open Sans', sans-serif; 

//media queries
$desktop: 1000px;
$tablet: 600px;

//colours
$dark-color-branding: #000000;
$grey-color-branding: #c2c2c2;
$light-color-branding: #ffffff;


